.button-discord {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #5865f2;
    transition: background-color 0.125s ease;
}

.button-discord:hover {
    text-decoration: none;
    background-color: #7289da;
}
